Source: bloonix-agent
Section: net
Priority: extra
Maintainer: Jonny Schulz <js@bloonix.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: http://www.bloonix.de/

Package: bloonix-agent
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bsdutils, mtr, sudo, bloonix-core (>= 0.29), libgetopt-long-descriptive-perl, libjson-perl, libjson-xs-perl, liblog-handler-perl, libparams-validate-perl, libterm-readkey-perl
Description: Bloonix agent daemon
 bloonix-agent provides the bloonix agent.
